.bg-main-color {
  background-color: #d35649;
}

.text-main {
  color: #d35649;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.logo {
  font-size: 30px;
}

.special-font {
  font-family: 'PT Sans Narrow', sans-serif;
}

.home-logo {
  display: inline-block;
  background-image: url("../images/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-form {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.726);
  padding: 30px 40px;
}

ul li a {
  font-size: 12px;
}

.application-steps .steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.application-steps .step {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  align-items: center;
}

.application-steps .step .logo img {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .hero-form {
    width: auto;
    padding: 20px 20px;
  }

  .application-steps .steps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .hero-form input {
    height: 35px;
    padding: 10px;
  }

  .hero-form .btn {
    margin-top: 10px;
    width: 100%;
  }
}
